/14 a 15 5 materialy
/petice_analyzer3.py
/petice_data_20260514_223702.csv
/petice_data_20260517_195102.csv
/petice_mereni.py
/petice_problemy_20260517_195324.xlsx
/petice_scraper.log
/starsi verze skriptu
/venv
/vstupni data pro listy